
{%extends 'apolloapp/home.html' %}
{%block body%}
<br>

    
        <table class="'table">
            <thead>
                <tr>
                    
                    <th scope="col">title</th>
                    <th scope="col">description</th>
                   
                </tr>
            </thead>
            {%for ticket in ticket_list%}
            <tbody>
                <tr>
                   
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.description}}</td>
                    <td>{{ticket.username}}</td>
                </tr>
            </tbody>
            {%endfor%}

        </table>
        
    
    
    
{%endblock%}
